@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-notosans: Noto Sans, sans-serif;
}
